body{
    display: flex;
    justify-content: center;
    background: lightpink;
}

h1{
    display: flex;
    justify-content: center;   
}

.a{
   width: 100%;
   background: green;
}

ul:nth-child(1){
    display: flex;
    flex-direction: row;
    width: 100%;
}

ul{
    width: 100%;
}

div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: rgba(0, 255, 255, 0);
}

table{
    border: solid 3px lightsteelblue;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 40px;
}

th{
    background: lightcyan;
}

td{
    background: rebeccapurple;
    color: white;
}

table th, td{
    border: solid 2px;
    border-collapse: collapse;
}

form{
    display: flex;
    flex-direction: column;
}